.todoArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #f1f1f157;
  border-radius: 10px;
  color: #ffffff;
  text-shadow: 0 0 10px #0000004b;
}
